body {
	/* this is from uigradients.com */
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Oxygen, sans-serif;
}

button {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-image: linear-gradient(to bottom, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
	border: 1px solid darkred;
	cursor: pointer;
}

button:hover {
	background-color:#5cbf2a;
}

.myButton:active {
	position:relative;
	top:1px;
}

.visit {
	background: #fe8c00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
